<h1><%=@question.title%></h1>
<br>
<div>
  <%=@question.question%>
  <%= erb :"/comments/_question_comments" %>
</div>
<div class="answer-form">
  <form id ="answers" method="post" action="/answers">
    <textarea name="answer" rows="5" cols="80" placeholder="Your Answer"></textarea>
    <br />
    <input type="submit" value="submit answer">
    <input type="hidden" name="question_id" value="<%=@question.id%>">
  </form>
</div>
<br>
<div class="answer">
    <% @answers.each do |a|%>
    <p><%= a.answer %><br>
      <% @answer = a %>
      <b><u>*Author: <%= a.user.email %></u></b>
      <%= erb :"/comments/_answer_comments" %>
    </p>
    <% end %>
</div>
